@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
 margin: 0;
 padding: 0; 
 box-sizing: border-box; 
 font-family: "Roboto", sans-serif;
}

nav {
    height: 80px;
    display: flex;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

}

html {
    scroll-behavior: smooth;
}

.nav__logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.nav__logo--title {
    font-size: 28px;
    font-weight: 900;
    color: #243e63;
}

.purple {
    color: #6415ff;
}

.white {
    color: #fff;
}

.logo {
    width: 56px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

section {
    padding: 0 32px;
}

.container {
    padding: 96px 0;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 1.25rem;
    line-height: 1.25;
    color: #1a202c;
}

h2 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 24px;
    color: rgb(36, 62, 99);
}

h3 {
    color: #6415ff;
    font-size: 16px;
    letter-spacing: 1.6px;
    font-weight: 700;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

a {
    display: inline;
    text-decoration: none;
}

img {
    width: 100%;
    
}

button {
    cursor: pointer;
    border: none;
}

#quality .section__title, 
#values .values__title {
    line-height: 1.25;
}



.nav__link,
.nav__link--primary {
    margin-left: 16px;
    text-decoration: none;
    font-size: 19px;
    color: #243e63;
    font-weight: 500;
}

.nav__link:hover {
    text-decoration: underline;
    color: #6415ff;
}



.nav__link--primary,
.btn, .btn__input {
    border-radius: 50px;
    padding: 8px 28px;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    transition: all 300ms ease;

}

.nav__link--primary:hover,
.btn__input:hover, .btn__input--primary:hover {
    text-decoration: none;
    background-color: rgba(80, 17, 280);
    color: white;
}

.menu__link--primary {
    background-color: rgba(80, 17,280);
    color: #fff;
    border-radius: 50px;
    padding: 8px 16px;

}



.btn__menu {
    background-color: transparent;
    font-size: 20px;
    text-align: center;
    border: none;
    color: #243e63;

}

.menu__backdrop {
    position: absolute;
    background-color:#fff;
    top: 20px;
    left: 12px;
    right: 12px;
    bottom: 200px;
    border: 2px solid rgb(229, 231, 235);
    border-radius: 12px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.menu__list{
    padding: 14px 0;

}

.menu__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom;
    border-bottom: 2px solid transparent;
}

.menu--open .menu__backdrop {
    display: flex;
}

.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 14px;
    padding: 8px;
    color:#243e63;
}

/* 

LANDING

*/

#landing {
    background-color: #fff;
    padding: 16px 0 24px 0;
}

.header {
    position: relative;
}

header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 2rem;
    padding-top: 100px;
    max-width: 1200px;
    margin: 0 auto;
    gap: 2rem;
    
}

.header__description {
    width: 40%;
}


.header__description--para {
    color: #4a5568;
    margin: 32px 0;
    line-height: 24px;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

.header__contact-form {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn__input {
    z-index: 2;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin: 8px;
    transition: all 300ms ease;
} 

.trusted__text {
    font-size: 12px;
    color:#a0aec0;;
    margin-top: 80px;
    font-weight: 700;
    letter-spacing: 0.6;
}

.trusted__logos {
    height: 50px;
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
}

.trusted__logos--img {
    width: 100%;
    color: #c1bdbd;
    
}

.header__right {
    width: calc(100% - 40%);
}

.header__img--large {
    height: 100%;
    max-height: 100vh;
    width: 100%;
    max-width: 768px;

}





/* 

FEATURES/ABOUT 

*/

#features {
    margin: auto;
    padding: 4rem 8rem;
    
}

#features, .features__title {
    text-align: center;
    font-size: 48px;
}

.features__para {
    font-size: 20px;
    text-align: center;
    max-width: 576px;
    margin: auto;
    padding-bottom: 60px;
    color: #7c8ba1;

}

.service__img {
    width: 30px;
    height: auto;
}

.service {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.service__img--wrapper {
    flex-shrink: 0;
    height: 60px;
    width: 60px;                  /* size of circle */
    border: 1px solid #e7e4e4;       /* thin border color */
    border-radius: 500%;           /* makes it round */
    display: flex;                /* center the icon */
    align-items: center;
    justify-content: center;

}

.service__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem;
}



.service__title {
    margin: 0 0 0.5rem;
    font-size: 32px;
    font-weight: 700;
    color: rgb(36, 62, 99);
}

/*

QUALITY

*/

#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
}

.quality__title {
    text-align: left;
}

.quality__small--title {
    color: #6415ff;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 16px;
}

.quality__para {
    padding-bottom: 20px;
}

.quality__description, 
.quality__img--wrapper {
    width: 50%;
}
.quality__img--wrapper {
    border-radius: 4px;
    border: 1px solid rgb(229, 231, 235);
    position: relative;
    margin: 0 56px;
    z-index: 2;
    display: flex;
}

.quality__img {
    width: 100%;
}

.quality__grid {
    transform: translateX(50%) translateY(50%)scale(1) scale(1);
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    fill: rgb(100, 21, 255);
    z-index: -1;
    display: block
     
}


/* 

STEPS

*/

#steps .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
}

.step {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
}

.steps__img--wrapper {
    display: flex;
    position: relative;
}

.step__description {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 320px;
}

.steps__description {
    padding: 32px 0;
    padding-left: 64px;
    flex: 1;
}

.step__img--wrapper, .steps__description {
    width:50%;
}

.steps__img {
    z-index: 2;
    height: 100%;
    max-height: 50vh;
}

.steps__title {
    font-size: 48px;
    font-weight: 900;
    margin: 16px 0px;
    line-height: 1.5;
    letter-spacing: 2px;
    color: rgb(36, 62, 99);

}

.step__title {
    color: #243e63;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
}

.steps__small--title {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
}




.step__number {
    font-size: 36px;
    font-weight: 600;
    color: #cbd5e0;
    line-height: 1;
}

.steps__grid {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
    height: 160px;
    opacity: 0.8;
    z-index: -10;
}        

.step__para {
    color: #718096;
    font-size: 14px;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
}

/*

VALUES

*/

.value:nth-of-type(1) {
    margin-top: 32px;
    margin-right: 32px;
}


.value {
    margin-top: 2rem;
    margin-right: 2rem;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

#values .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#values .section__title {
    margin-top: 16px;
    margin-bottom: 32px;
} 

.values__description, .values__img {
    width: 50%;
}

.values__description {
    padding: 32px 64px 32px 0;
}

.values__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
    
}

.values__small--title {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6;
    font-weight: 700;
}

.values__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
    
}

.value__para {
    font-size: 16px;
    margin-top: 16px;
    line-height: 1.625;
    color: #718096;
}

.values__list {
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    max-width: none;
    flex-direction: row;
}

.value__img--wrapper-a, 
.value__img--wrapper-p {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.value__img--wrapper-a {
    background-color: #9ae6b4;
}


.value__img--wrapper-p {
    background-color: #FEB2B2;
}


.value__img--a,
.value__img--p {
    width: 20px;
    height: 20px;
}
   


.value__title {
    display: flex;
    align-items: center;
}

.value__name {
    font-size: 20px;
    margin-left: 12px;
    font-weight: 900;
    color: #243e63;
}

.value__img--a:nth-child(1)
.value__img--wrapper-a {
    background-color: #9ae6b4;
}

.values__img--wrapper {
    display: flex;
    justify-content: center;
}

.values__img {
    width: 100%;
    height: 100%;

}

#values .btn__input--primary {
    margin-top: 48px;
}

.btn__input--primary {
    background-color: #6415ff;
    padding:12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: 900;
    transition: all 300ms ease;
    cursor: pointer;
    transform: translateY(-3px);
}

/* 

PRICING

*/



#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pricing, .pricing__title {
    text-align: center;
    font-size: 48px;
}

.pricing__description {
    padding: 32px 40px;
    
}

.pricing__small--title {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;

}

#pricing .pricing__para {
    max-width: 576px;
    text-align: center;
    margin: 0 auto;
}

.pricing__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}



.plans {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.plan:nth-child(1),
.plan:nth-child(3) {
    border-top: 2px solid rgb(229, 231, 235);
}    

.plan:nth-child(1),
.plan:nth-child(3) {
    border-bottom: 2px solid #243e63;
}

.plan, 
.business__wrapper {
    position: relative;
    max-width: 384px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
    margin-right: 32px;
    border-radius: 8px;
    background-color: rgb(255 255 255);
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    text-align: center;
    
}

.plan {
    border: 2px solid #e7e4e4;
    background-color: #fff;
}

.plan__strip--green,
.plan__strip--blue,
.plan__strip--red {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.plan__strip--green,
.plan:nth-child(1) .plan__stripe, .plan:nth-child(1) .plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__strip--blue,
.plan:nth-child(2) .plan__stripe, .plan:nth-child(2) .plan__button {
    color: #f7fafc;
     background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan__strip--red,
.plan:nth-child(3) .plan__stripe, .plan:nth-child(3) .plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}




 


.plan__top, .business__top {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 32px;
    line-height: 1.625;
}

.business__wrapper {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    color: white;
}

.plan__name {
    font-size: 20px;
}


.plan__name, .plan__price,
.plan__duration {
    color: #1a202c;
    font-weight: 900;
    padding-bottom: 9px;
    line-height: 1.625px;
}

.business__plan--name {
    color: #f7fafc;
    font-size: 26px;
    font-weight: 900;
    line-height: 1px;
}

.plan__price {
    font-size: 48px;
    margin: 48px 0;
}

.business__plan--price {
    font-size: 48px;
    margin-top: 18px;
    font-weight: 900;
}

.plan__duration,
.business__plan--duration {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.6px;
}

.plan__duration {
    color: #7c8ba1;
}

.personal__middle,
.business__middle,
.enterprise__middle {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 110%;
    box-sizing: border-box;
    padding: 32px 0;
}



.personal__middle::before,
.personal__middle::after,
.enterprise__middle::before,
.enterprise__middle::after,
.business__middle::before,
.business__middle::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
} 

.personal__middle::before,
.enterprise__middle::before,
.business__middle::before {
    top: 0;
}

.personal__middle::after,
.enterprise__middle::after,
.business__middle::after {
    bottom: 0;
}

.personal__middle::before,
.personal__middle::after,
.enterprise__middle::before,
.enterprise__middle::after {
    background: rgb(229, 231, 235);
}

.business__middle::before {
    background: #418ce9;
}

.business__middle::after {
    background: #5daad7a8;
}

.plan__target,
.business__target {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    letter-spacing: 0.025;

}

.plan__feature,
.business__plan--features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 48px;
}

.plan__button, .plan__button--primary,
.plan__button--primary-second {
    border-radius: 9999px;
    padding: 0.85rem 4rem;
    margin-bottom: 16px;
    margin-top: 32px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    width: 100%;
    transition: all 300ms ease;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    white-space: nowrap;
    transition: transform 0.25s ease;
}

.plan__button:hover, .plan__button--primary:hover,
.plan__button--primary-second:hover {
  transform: scale(0.95);
}

.plan__button--primary {
    color: rgb(76, 81, 191);
}

.plan__button--primary-second {
    border: 2px solid linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plans__blob {
    z-index: -10;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateX(-50%) translateY(50%) scaleX(1) scaleY(1);
    height: 256px;
    width: 256px;
    opacity: 0.25;
}

/* 
TESTIMONIALS

*/

#testimonials {
    padding: 0px 32px;
} 

#testimonials .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 0px;
}

.testimonials__img--wrapper {
    flex: 1;
    max-width: 50%;
    transform: translateY(-10%);
}

.testimonials__description {
    flex: 1;
    max-width: 50%;
}

.testimonials__img {
    width: 100%;
    height: 100%;
    max-height: 40vh;
    display: block;
}

.testimonials__small--title {
    color: #6415ff;
    font-weight: 900;
    padding-bottom: 18px;
    letter-spacing: 1.5px;
}

.testimonials__header {
    font-size: 48px;
    letter-spacing: 1.2px;
    font-weight: 900;
    margin-bottom: 16px;
}

.testimonials__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}

.testimonial {
    margin-top: 40px;
}

.testimonial__para {
    margin-top: 16px;
    margin-bottom: 32px;
    font-size: 16px;
    color: rgb(74, 85, 104);
    font-weight: 500;
    line-height: 1.625;
}

.testimonial__title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #4a5568;
}

.testimonial__rating {
    color: rgb(246, 173, 85);
    padding-top: 16px;
    padding-bottom: 20px;
}

.testimonial__bottom {
    display: flex;
    justify-content: space-between;
}

.testimonial__details {
    margin-left: 24px;
}

.testimonial__profile {
    display: flex;
    align-items: center;
    line-height: 1.45;
}

.testimonial__name {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.625;
    color: #4a5568;
}

.testimonial__role {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
}

.photo__img {
    width: 100%;
    height: 60%;
    max-height: 15vh;
    border-radius: 9999%;
}

.testimonial__buttons {
    display: flex;
    align-items: center;
}

.testimonial__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: #edf2f7;
    border-radius: 50%;
    margin: 0 12px;
    transition: all 300ms ease;
    z-index: 1;
    position: relative;
    padding: 26px;
}

.testimonial__button--svg {
    position: absolute;
    border-radius: 50%;
    background: #edf2f7;
    margin: 0 12px;
    width: 18px;
    height: 18px;
    z-index: 2;
}

.testimonial__button:hover {
    background-color: rgb(229, 231, 235);
}

.divider {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    border-right-width: 1px;
    width: 0.5px;
    background-color: #edf2f7;
    height: 20px;
}

/* 

CONTACT US 

*/

#contact .row {
    position: relative;
    overflow: hidden;
}

.start__blob--1 {
    position:absolute;
    bottom: 0px;
    left: 0px;
    height: 320px;
    width: 320px;
    transform: translate(-80px, 128px);
    color: rgb(80 17 204);
    opacity: 0.5;
}

.start__blob--2 {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 320px;
    width: 320px;
    transform: translate(80px, -256px);
    color: rgb(80 17 204);
    opacity: 0.5;
}

.contact__container {
    padding: 96px 0;
    width: 100%;
    background-color: rgb(100, 21, 255);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contact__row {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__title {
    color: #f7fafc;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    z-index: 2;
}

.contact__title, .start__buttons {
    width: 50%;
}

.start__buttons {
    display: flex;
    justify-content: flex-end;
}

.start__button--btn:hover:nth-child(1) {
    background-color: rgba(229, 62, 62);
}

.start__button--btn:nth-child(1) {
    background-color: #f56565;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px
    margin-right: 32px;
    transition: all 300ms ease;
}

.start__button--btn {
    padding: 20px 40px;
    border-radius: 500px;
    font-weight: 700;
    font-size: 16px;
    color: #f7fafc;
    line-height: 1.5;
    margin: 16px;
    z-index: 2;
}

.start__button--btn:hover:nth-child(2) {
    background-color: #fff;
    color: rgb(80, 17, 280);
}

.start__button--btn:nth-child(2) {
    background-color: #6415ff;
    border: 1px solid rgb(160, 174, 192);
    transition: all 300ms ease;
}

/* 

FOOTER 

*/

footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}

.footer__blob--1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 320px;
    transform: translateX(-80px) translateY(-128px);
    z-index: 1;

}

.footer__blob--2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 320px;
    height: 320px;
    transform: translateX(128px) translateY(192px);
    z-index: 1;
    opacity: 0.5;
}

.footer__columns {
    margin-top: -40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__column {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.footer__column--title {
    font-weight: 700;
    color: #f7fafc;
    line-height: 1.5;
}

.footer__column--link:nth-child(2) {
    margin-top: 24px;
}

.footer__column--link {
    color: #f7fafc;
    font-size: 14px;
    margin-top: 12px;
    line-height: 1.5;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}

.footer__column--link:hover:after {
    opacity: 1;
}

.footer__column--link:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background: #fff;
    transition: all 300ms ease;
    opacity: 0;
}

.footer__divider {
    width: 100%;
     height: 2px;
     margin: 64px 0;
     background: rgb(116, 44, 255);
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer__logo {
    display: flex;
    align-items: center;
}

.footer__logo--img {
    height: 32px;
    width: 32px;
}

.footer__logo--text {
    font-size: 20px;
    color: #f7fafc;
    font-weight: 900;
    margin-left: 8px;
    letter-spacing: 1px;
}

.footer__copyright {
    color: #cbd5e0;
    font-weight: 500;
}

.footer__socials {
    display: flex;
    align-items: center;
    margin-left: -16px;
}

.footer__social--link:hover {
    opacity: 0.8;
    transition: all 300ms ease;
}

.footer__social--link {
    margin-left: 16px;
    padding: 8px;
    background: #f7fafc;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
    transition: all 300ms ease;
    color: #243e63;
}

.footer__social--link-svg {
    height: 16px;
    width: 16px;
}












@media (max-width: 768px) {
  

  .header__description, .header__right {
    flex: 1 1 100%;
  }

  .header__cta {
    flex-direction: column;
  }

  .header__cta input,
  .header__cta .btn {
    width: 100%;
  }

  
  .trusted__logos {
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 1280px) {
    .header__right {
        display: flex;
        justify-content: flex-end;
    }

    .header__img--large {
        max-width: 512px;
    }




    .steps__grid {
        height: 5rem;
        width: 5rem;
        bottom: -50px;
    }

    .plans {
        display: flex;
    }

    .plan__button, .plan__button--primary {
        max-width: none;
    }
}



