@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
 margin: 0;
 padding: 0; 
 box-sizing: border-box; 
 font-family: "Roboto", sans-serif;
}

nav {
    height: 80px;
    display: flex;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

}

.nav__logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.nav__logo--title {
    font-size: 28px;
    font-weight: 900;
    color: #243e63;
}

.purple {
    color: #6415ff;
}

.white {
    color: #fff;
}

.logo {
    width: 56px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

section {
    padding: 0 32px;
}

.container {
    padding: 96px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}
h1 {
    
    font-size: 60px;
    
    font-weight: 900;
    margin-bottom: 1.25rem;
    line-height: 1.2;
    color: #243e63;

}

h2 {
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 24px;
    color: rgb(36, 62, 99);
}

h3 {
    color: #6415ff;
    font-size: 16px;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-align: center;
}

p {
    font-size: 20px;
    color: #7c8ba1;
    line-height: 36px;
}

img {
    width: 100%;
    
}

button {
    cursor: pointer;
    border: none;
}

.nav__link,
.nav__link--primary {
    margin-left: 16px;
    text-decoration: none;
    font-size: 19px;
    color: #243e63;
    font-weight: 500;
}

.nav__link:hover {
    text-decoration: underline;
    color: #6415ff;
}



.nav__link--primary,
.btn, .btn__input {
    border-radius: 50px;
    padding: 8px 28px;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    transition: all 300ms ease;

}

.nav__link--primary:hover,
.btn__input:hover, .btn__input--primary:hover {
    text-decoration: none;
    background-color: rgba(80, 17, 280);
    color: white;
}

/* 

LANDING

*/

#landing {
    background-color: #fff;
    padding: 16px 0 24px 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 2rem;
    padding-top: 100px;
    max-width: 1200px;
    margin: 0 auto;
    gap: 2rem;
    
}

.header__right {
    flex: 0 0 60%;
    width: 50%;
    display: flex;
    justify-content: center;
    max-height: 100%;

}

.header__left {
    width: 50%;
}

.header__img--large {
    height: 100%;
    max-height: 100vh;
    width: 100%;

}

.subheader {
    color: #4a5568;
    margin-bottom: 24px;
    line-height: 24px;
}

.input {
    border: none;
    font-size: 16px;
    color: #a0aec0;
}

.header__contact-form {
    display: flex;
    justify-content: space-between;
   
}

.header__contact-form {
    flex: 1;
    padding: 8px 48px;
    border-radius: 50px;
    border: 2px solid #cbd5e0;
    font-size: 12px;
}

.btn__input {
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;
    padding: 16px 32px;
    transform: translateX(32px);
} 

.trusted__text {
    font-size: 14px;
    color:#a0aec0;;
    margin-bottom: 0.5rem;
    padding-top: 48px;
}

.trusted__logos {
    height: 50px;
}

.trusted__logos--img {
    width: 100%;
    color: #c1bdbd;
}

/* 

FEATURES/ABOUT 

*/

#about {
    margin: auto;
    padding: 4rem 8rem;
}

.features__para {
    font-size: 20px;
    text-align: center;
    max-width: 576px;
    margin: auto;
    padding-bottom: 60px;
    color: #7c8ba1;

}

.service__img {
    width: 30px;
    height: auto;
}

.service {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.service__img--wrapper {
    flex-shrink: 0;
    height: 60px;
    width: 60px;                  /* size of circle */
    border: 1px solid #e7e4e4;       /* thin border color */
    border-radius: 500%;           /* makes it round */
    display: flex;                /* center the icon */
    align-items: center;
    justify-content: center;

}

.service__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem;
}



.service__title {
    margin: 0 0 0.5rem;
    font-size: 32px;
    font-weight: 700;
    color: rgb(36, 62, 99);
}

/*

QUALITY

*/

#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
}

.quality__title {
    text-align: left;
}

.quality__small--title {
    color: #6415ff;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 16px;
}

.quality__para {
    padding-bottom: 20px;
}

.quality__description, 
.quality__img--wrapper {
    width: 50%;
}
.quality__img--wrapper {
    border-radius: 4px;
    border: 1px solid rgb(229, 231, 235);
    position: relative;
    margin: 0 56px;
    z-index: 2;
    display: flex;
}

.quality__img {
    width: 100%;
}

.quality__grid {
    transform: translateX(50%) translateY(50%)scale(1) scale(1);
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    fill: rgb(100, 21, 255);
    z-index: -1;
    display: block
     
}


/* 

STEPS

*/

#steps .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
}

.step {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
}

.steps__img--wrapper {
    display: flex;
    position: relative;
}

.step__description {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 320px;
}

.steps__description {
    padding: 32px 0;
    padding-left: 64px;
    flex: 1;
}

.step__img--wrapper, .steps__description {
    width:50%;
}

.steps__img {
    z-index: 2;
    height: 100%;
    max-height: 50vh;
}

.steps__title {
    font-size: 48px;
    font-weight: 900;
    margin: 16px 0px;
    line-height: 1.5;
    letter-spacing: 2px;
    color: rgb(36, 62, 99);

}

.step__title {
    color: #243e63;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
}

.steps__small--title {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
}




.step__number {
    font-size: 36px;
    font-weight: 600;
    color: #cbd5e0;
    line-height: 1;
}

.steps__grid {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
    height: 160px;
    opacity: 0.8;
    z-index: -10;
}        

.step__para {
    color: #718096;
    font-size: 14px;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
}

/*

VALUES

*/

.value {
    margin-top: 2rem;
    margin-right: 2rem;
    align-items: start;
    display: flex;
    flex-direction: column;
}

.values__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.values__description {
    flex: 1;
}

.values__title {
    
    font-size: 60px;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 24px;
    margin-right: 60px;
    line-height: 70px;
    letter-spacing: 2px;
    color: rgb(36, 62, 99);
}

.values__small--title {
    text-align: left;
    font-size: 20px;
}

.values__para {
    font-size: 24px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
    padding-bottom: 38px;
    
}

.value__para {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.values__list {
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    max-width: none;
    flex-direction: row;
}

.value__img--wrapper-a, 
.value__img--wrapper-p {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.value__img--wrapper-a {
    background-color: #9ae6b4;
}

.value__img--wrapper-p {
    background-color: #FEB2B2;
}


.value__img--a {
    width: 40px;
}
   
.value__img--p {
    width: 40px;
}

.value__title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.value__name {
    font-size: 24px;
    font-weight: 900;
    padding-left: 12px;
    color: #243e63;
}

.values__wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
}

.values__img {
    height: 100%;
    max-height: 100vh;
}

.btn__input--primary {
    margin-top: 48px;
}

/* 

PRICING

*/



#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing__description {
    padding: 32px 40px;
}

.pricing__small--title {
    padding-bottom: 40px;
    font-size: 26px;
    font-weight: 900;
}

.pricing__para {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: 500px;
    color: #7c8ba1;
    line-height: 1.625;
    padding: 0 265px;
    padding-bottom: 40px;
}

.plans {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.personal__wrapper, 
.business__wrapper,
.enterprise__wrapper {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 24px;
    padding: 24px 80px;
    border-radius: 0.5rem;
}

.personal__wrapper,
.enterprise__wrapper {
    border: 2px solid #e7e4e4;
    background-color: #fff;
}

.plan__strip--green,
.plan__strip--blue,
.plan__strip--red {
    position: relative;
    top: 0;
    left: 0;
    width: 185%;
    height: 10px;
    transform: translateY(-276%);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.plan__strip--green,
.plan:nth-child(1) .plan__stripe, .plan:nth-child(1) .plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__strip--blue,
.plan:nth-child(2) .plan__stripe, .plan:nth-child(2) .plan__button {
    color: #f7fafc;
     background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan__strip--red,
.plan:nth-child(3) .plan__stripe, .plan:nth-child(3) .plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}



.plan__top, 
.personal__middle,
.business__top,
.business__middle,
.enterprise__middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.business__wrapper {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    color: white;
}

.plan__name{
    color: black;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 9px;
    line-height: 1px;
}

.business__plan--name {
    color: #f7fafc;
    font-size: 26px;
    font-weight: 900;
    padding-bottom: 9px;
    line-height: 1px;
}

.plan__price,
.business__plan--price {
    font-size: 58px;
    font-weight: 900;
    padding: 25px 0;
}


.plan__duration,
.business__plan--duration {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.6px;
    padding-bottom: 24px;
}

.plan__duration {
    color: #7c8ba1;
}

.personal__middle, 
.enterprise__middle {
    border-top: 2.5px solid #dcdfe4;
    border-bottom: 2.5px solid #dcdfe4;
    width: 184%;
    padding: 24px;
}

.business__middle {
    border-top: 2px solid #418ce9;
    border-bottom: 2px solid #5daad7a8;
    width: 184.5%;
    padding: 24px;
}

.plan__target,
.business__target {
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    transform: translateY(-15px);
    padding-top: 16px;
}

.plan__feature {
    line-height: 48px;
    font-size: 20px;
}
.business__plan--features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 48px;
}

.plan__button, .plan__button--primary,
.plan__button--primary-second {
    border-radius: 9999px;
    padding: 0.85rem 4rem;
    margin-bottom: 16px;
    margin-top: 32px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    width: 100%;
    transition: all 300ms ease;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    white-space: nowrap;
    transition: transform 0.25s ease;
}

.plan__button:hover, .plan__button--primary:hover,
.plan__button--primary-second:hover {
  transform: scale(0.95);
}

.plan__button--primary {
    color: rgb(76, 81, 191);
}

.plan__button--primary-second {
    border: 2px solid linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plans__blob {
    z-index: -10;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateX(-50%) translateY(50%) scaleX(1) scaleY(1);
    height: 256px;
    width: 256px;
    opacity: 0.25;
}

/* 
TESTIMONIALS

*/

#testimonials {
    padding: 0px 32px;
} 

#testimonials .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 0px;
}

.testimonials__img--wrapper {
    flex: 1;
    max-width: 50%;
    transform: translateY(-10%);
}

.testimonials__description {
    flex: 1;
    max-width: 50%;
}

.testimonials__img {
    width: 100%;
    height: 100%;
    max-height: 40vh;
    display: block;
}

.testimonials__small--title {
    color: #6415ff;
    font-weight: 900;
    padding-bottom: 18px;
    letter-spacing: 1.5px;
}

.testimonials__header {
    font-size: 48px;
    letter-spacing: 1.2px;
    font-weight: 900;
    margin-bottom: 16px;
}

.testimonials__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}

.testimonial {
    margin-top: 40px;
}

.testimonial__para {
    margin-top: 16px;
    margin-bottom: 32px;
    font-size: 16px;
    color: rgb(74, 85, 104);
    font-weight: 500;
    line-height: 1.625;
}

.testimonial__title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #4a5568;
}

.testimonial__rating {
    color: rgb(246, 173, 85);
    padding-top: 16px;
    padding-bottom: 20px;
}

.testimonial__bottom {
    display: flex;
    justify-content: space-between;
}

.testimonial__details {
    margin-left: 24px;
}

.testimonial__profile {
    display: flex;
    align-items: center;
    line-height: 1.45;
}

.testimonial__name {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.625;
    color: #4a5568;
}

.testimonial__role {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
}

.photo__img {
    width: 100%;
    height: 60%;
    max-height: 15vh;
    border-radius: 9999%;
}

.testimonial__buttons {
    display: flex;
    align-items: center;
}

.testimonial__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: #edf2f7;
    border-radius: 50%;
    margin: 0 12px;
    transition: all 300ms ease;
    z-index: 1;
    position: relative;
    padding: 26px;
}

.testimonial__button--svg {
    position: absolute;
    border-radius: 50%;
    background: #edf2f7;
    margin: 0 12px;
    width: 18px;
    height: 18px;
    z-index: 2;
}

.testimonial__button:hover {
    background-color: rgb(229, 231, 235);
}

.divider {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    border-right-width: 1px;
    width: 0.5px;
    background-color: #edf2f7;
    height: 20px;
}

/* 

GET STARTED 

*/

#contact .row {
    position: relative;
    overflow: hidden;
}

.start__blob--1 {
    position:absolute;
    bottom: 0px;
    left: 0px;
    height: 320px;
    width: 320px;
    transform: translate(-80px, 128px);
    color: rgb(80 17 204);
    opacity: 0.5;
}

.start__blob--2 {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 320px;
    width: 320px;
    transform: translate(80px, -256px);
    color: rgb(80 17 204);
    opacity: 0.5;
}

.contact__container {
    padding: 96px 0;
    width: 100%;
    background-color: rgb(100, 21, 255);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contact__row {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__title {
    color: #f7fafc;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    z-index: 2;
}

.contact__title, .start__buttons {
    width: 50%;
}

.start__buttons {
    display: flex;
    justify-content: flex-end;
}

.start__button--btn:nth-child(1) {
    background-color: #f56565;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px
    margin-right: 32px;
    transition: all 300ms ease;
}

.start__button--btn {
    padding: 20px 40px;
    border-radius: 500px;
    font-weight: 700;
    font-size: 16px;
    color: #f7fafc;
    line-height: 1.5;
    letter-spacing: 0.025;
    margin: 1px;
    z-index: 2;
}

.start__button--btn:nth-child(2) {
    background-color: #6415ff;
    border: 1px solid rgb(160, 174, 192);
    transition: all 300ms ease;
}

.start__button--btn {
    
}


@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .header__left, .header__right {
    flex: 1 1 100%;
  }

  .header__cta {
    flex-direction: column;
  }

  .header__cta input,
  .header__cta .btn {
    width: 100%;
  }

  .trusted__logos {
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 1280px) {
    .steps__grid {
        height: 5rem;
        width: 5rem;
        bottom: -50px;
    }

    .plans {
        display: flex;
    }

    .plan__button, .plan__button--primary {
        max-width: none;
    }
}



